.container {
  display: flex;
  justify-content: left;
}

.box {
  border-style: solid;
  padding: 10px 15px;
  border-width: 2px;
  border-color: #0046b8;
  border-radius: 15px;
  background-color: #00abfa67;
}
